# Ignore everything in the root
/*
# Un-ignore all of subtree
!/craftcraft_tradeskill_filter/
!/craftcraft_lootauras/
!/craftcraft_framestuff/
!/craftcraft_framestuff/
!/craftcraft_upgradeui/
!.gitignore
